/* ---- Globally ---- */

:root{
    --off-white : rgb(206, 203, 203);
    --dark-grey : rgb(173, 166, 166);
}

body{
    font-family: sans-serif;
    margin: 5rem;
    background-color: rosybrown;
}

.btn-positioning{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- Button Icon ---- */

.btn-icon {
    width: 50px;
    height: 50px;
    background-color: var(--off-white);
    border-radius: 50%;
    border: none;
    outline: none;
}

.button{
    width: 6rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 5%;
    border: none;
}

.button-action-color{
    background-color: rgb(72, 72, 228);
    color: white;
}

.button-hide-color{
    background-color: white;
}
/* ---- Badge ---- */

.badge{
    position: relative;
    color: white;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.badge-small{
    width: 1.5em;
    height: 1.5em;
}

.badge-large{
    width: 1.5em;
    height: 1.5em;
    font-size: 1.4rem;
}

/* ---- Badge + Button Icon ---- */

.badge-btn-icon{
    bottom: 3.5em;
    left: 2em;    
}

/* ---- Badge + Small Text ---- */

.text-small-badge {
    top: -3.5rem;
    left: 9.5rem;
}

/* ---- Badge + Large Text ---- */

.text-large-badge {
    top: -3.5rem;
    left: 12.7rem;
}

/* ---- Badge + Action ---- */

.button-badge-left{
    top: 1rem;
    left: -1rem;
}

/* ---- Badge + Hide ---- */

.button-badge-hide{
    top: 1rem;
    left: 5rem;
    /* position: fixed; */
}

.btn-icon:active{
    background: var(--dark-grey);
}


.btn-icon:hover{
    cursor: pointer;
}




